.men-clother__wrapper{
	border-bottom: 1px solid #e5e5e5;
}

.men-clother-item{
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	width: 100%;
	height: 330px;
	border: 1px solid #e5e5e5;
	overflow: hidden;
}
.flex-item-row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

.men-clother-description{
	text-align: center;
	width: 20%;
}
.men-clother-description h3{
	margin-top: 40px;
	margin-bottom: 10px;
	font-weight: bold;
	text-transform: none;
}

.men-clother-item-price{
	font: 14px Lato;
	padding-bottom: 20px;
}

.flex-item-row-header{
	width: 100%;
	text-align: center;
	border: 1px solid red;
}
.men-clother-item-img{
	margin: auto;
}
img{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	margin: 0 auto;
	display:block;
}

.men-clother__header{
	margin: 70px 0 30px 0;
}
.men-clother__header-link{
	display: block;
	text-align: center;
	font: italic 18px Georgia;
	margin-bottom: 70px;
}
.carousel-wrapper .subheader{
	margin: 40px 0;
}
