.goods__wrapper__content{
	text-align: center;
}
.goods__wrapper__size-choose{
	display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}

/*.size{
	width: 30px;
	height: 30px;
	border: 1px solid #959595;
}*/

/*carousel*/
.goods__gallery {
  position: relative;
  width: 100%;
/*  height: 500px;*/
  border: 1px solid black;
  text-align: center;
}
.goods__gallery_wrapper-item img{
  width: 100%;
}

.goods__gallery-main img{
  width: 100%;
}

.goods__gallery-main {
  width: 100%;
/*  height: 500px;
  display: inline-block;
  vertical-align: top;*/
}

.goods__gallery_wrapper{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;

}

.goods__gallery_wrapper-item{
  opacity: .5;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.goods__gallery_wrapper-item:hover, .goods__gallery_wrapper-item.active{
  opacity: 1;
}

.goods__gallery_item img {
  width: 100%;
  height: auto;
}


.goods__wrapper__content{
  margin: 60px 0 30px 0;
  border-bottom: 1px solid #e5e5e5;
}

.goods__wrapper__content h2{
 
}
.goods__wrapper__price{
  font: italic 20px "Lato";
  /*text-align: center;*/
  margin: 35px 0 20px 0;
}
.goods__wrapper__size{
  font: bold 14px "Lato";
  text-transform: uppercase;
  margin: 30px 0 20px 0;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
      
}
.goods__wrapper__size-choose{

}

/*.goods__wrapper__size-choose */
.size{
  width: 30px;
  height: 30px;
  border: 1px solid #959595;
  margin: 0 8px;
  line-height: 30px;
}
.addToCart{
  display: block;
  width: 190px;
  height: 50px;
  color: #fff;
  text-transform: uppercase;
  background-color: #f68236;
  padding: 10px 0;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}

.addToCart:hover{
  text-decoration: none;
  background-color: #e67429;
}

.nothing{
  display: none;
}
.green{
  background-color: green;
}
.disabled{
  background-color: #959595;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}
.disabled:hover{
  background-color: #959595;
}